{% extends "base.html" %}

{% block title %}Create Pie{% endblock %}

{% block content %}

    <form action="createpieform" method="post">
        {% csrf_token %}
        <label for="piename">Pie Name: </label>
        <input type="text" name="piename" id="piename">

        <label for="filling">Filling: </label>
        <input type="text" name="filling" id="filling" value="{{ pie.filling }}">
        
        <label for="crust">Crust: </label>
        <input type="text" name="crust" id="crust" value="{{ pie.crust }}">

        <input type="submit" value="Submit">

    </form>

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}



{% endblock %}