{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}

<table>
    <th>
    <td>ID</td>
    <td>Pie Name</td>
    <td>Edit</td>

    <td>Created Date</td>
    </th>
    <tr>
        {% for pie in pies %}
        <td><a href="/viewpie/{{pie.id}}"> {{ pie.id }} </a></td>
        <td><a href="/viewpie/{{pie.id}}"> {{ pie.piename }}</a></td>
        <td><a href="/editpie/{{pie.id}}">Edit</a></td>
        <td>{{ pie.created_at|date:"Y-m-d H:i" }}</td>
    </tr>
        {% endfor %}
    
</table>


<form action="logout" method="post">
    {% csrf_token %}
    <input type="submit" value="Logout">
</form>

{% endblock %}