{% extends "base.html" %}

{% block title %}Show Pie{% endblock %}

{% block content %}

<p> {{ pie.piename }} </p>
<p> {{ pie.filling }} </p>
<p> {{ pie.crust }} </p>



<form action="/vote_pie_form" method="post">
    {% csrf_token %}
    <input type="hidden" name="pie_id" value="{{ pie.id }}">
    {% if is_vote %}
    <input type="hidden" name="form_type" value="yakee">
    <input type="submit" value="Yakee!">
    {% else %}
    <input type="hidden" name="form_type" value="Delicious">
    <input type="submit" value="Delicious!">
    {% endif %}
</form>





{% endblock %}