
{% extends "base.html" %}

{% block title %}Show Pie{% endblock %}

{% block content %}

    <form action="/updatepieform" method="post">
        {% csrf_token %}
        <label for="piename">Pie Name: </label>
        <input type="text" name="piename" id="piename" value="{{ pie.piename }}">

        <label for="filling">Filling: </label>
        <input type="text" name="filling" id="filling" value="{{ pie.filling }}">
        
        <label for="crust">Crust: </label>
        <input type="text" name="crust" id="crust" value="{{ pie.crust }}">

        <input type="hidden" name="pieid" value="{{ pie.id }}">

        <input type="submit" value="Submit">

    </form>




{% endblock %}